/* SponsorSection.css */
.sponsor-section {
  color: #ffffff;
  text-align: center;
  padding: 6rem 2rem;
  background: black;
}

.sponsor-title {
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: #559CF8;
  text-shadow: 0 0 10px #559CF8;
  margin-bottom: 0.5rem;
}

.sponsor-contact {
  font-size: 1.1rem;
  color: #FFFFFF;
  margin-bottom: 2.5rem;
}

.sponsor-contact a {
  color: #00ffff;
  text-decoration: underline;
  transition: color 0.3s;
}

.sponsor-contact a:hover {
  color: #559CF8;
}

.sponsor-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.sponsor-link {
  display: block;
  transition: transform 0.3s ease;
}

.sponsor-link:hover {
  transform: scale(1.1);
}

.sponsor-card {
  background-color: transparent;
  padding: 1rem;
  /* border: 1px solid #FFFFFF; */
  transition: border-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor-card:hover {
  /* border-color: #559CF8; */
}

.sponsor-card img {
  width: 200px;
  height: 100px;
  object-fit: contain;
}